body {


padding: 0;
text-align:justify;
font-size:26px;
color:#25323A; 
background-color:#c4e3e8;
}

.heading {
font-family: Geneva, Arial, Helvetica, sans-serif;
padding: 10px;
font-size: 18pt;
text-align: left;
}


.subheading {
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 18pt;
text-align: center;
}



.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.form {
  background-color: lightblue;
  width: 400px;
  padding: 25px;
   margin-left:auto;
   margin-right:auto;
   
}


.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #808080;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}






