

body {
font-family: Geneva, Arial, Helvetica, sans-serif;
text-align: center;
padding: 0;
font-size: 26px;
color: #25323A; 
background-color: #c4e3e8;

}


.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 900px;
}


@media screen and (max-width: 700px) {
.sidebar {
width: 100%;
height: auto;
position: relative;
}
.sidebar a {float: top;}
div.content {margin-left: 0;}
form {margin-top: 15px;}
}


@media screen and (max-width: 375px) {
.sidebar a {
text-align: center;
float: none;
}
h2 {
font-size: 1.25rem;
}
}

h2 {
font-weight: 400;
}

header {
margin-left: auto;
/* clear: both; */
float: left;
width: 100%;
}

form {
box-sizing: border-box;
background-color: light blue;
border-radius: 5px;
max-width: 70%;
padding: 20px 50px;
font-size: 1.1rem;
overflow: hidden;
/* margin-top: 200px; */
}

input,textarea {
margin: 10px 0;
padding: 8px;
border-radius: 3px;
border: 1px rgb(158, 158, 158) solid;
float: right;
text-align: right;
width: 200px;
}

label {
text-align: right;
clear: both;
float:left;
margin: 10px 0;
padding: 8px 0;
}

button {
width: 50%;
margin: auto;
margin-top: 20px;
color: white;
background-color: gray;
padding: 5px;
border-radius: 3px;
border: 1px solid #808080;
font-size: 1.1rem;
cursor: pointer;
display: block;
clear: both;
}


.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #808080;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}


@media (max-width: 1024px) {
form {
max-width: 90%;
}
label {
margin: 0;
}
}















